@charset "UTF-8";
/* line 1, ../sass/_base.scss */
body {
  font-family: "ヒラギノ角ゴ Pro W3", メイリオ, Osaka, Arial, Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

/* line 5, ../sass/_base.scss */
.aside {
  padding: 10px 10px 5px 0;
}

/* line 1, ../sass/_layout.scss */
#wrap {
  width: 1020px;
  margin: 0 auto;
}

/* line 7, ../sass/_layout.scss */
.header .adsense {
  text-align: right;
}
/* line 10, ../sass/_layout.scss */
.header > div > div {
  vertical-align: middle;
}
/* line 13, ../sass/_layout.scss */
.header nav {
  width: 700px;
}
/* line 16, ../sass/_layout.scss */
.header li {
  display: inline-block;
  width: 130px;
  height: 80px;
  text-align: center;
}
/* line 21, ../sass/_layout.scss */
.header li a {
  height: 100%;
  padding-top: 45%;
  vertical-align: bottom;
}
/* line 27, ../sass/_layout.scss */
.header .login-status {
  width: 300px;
  line-height: 2em;
}

/* line 34, ../sass/_layout.scss */
.slider img {
  width: 1020px;
  height: 200px;
}

/* line 41, ../sass/_layout.scss */
.slider2 img {
  width: 1020px;
}

/* line 47, ../sass/_layout.scss */
.aside .login-box {
  margin-top: 10px;
}

/* line 52, ../sass/_layout.scss */
.rank-img {
  width: 30px;
  margin-right: 5px;
}

/* line 57, ../sass/_layout.scss */
.footer-menu {
  padding-top: 20px;
}
/* line 59, ../sass/_layout.scss */
.footer-menu li {
  display: inline-block;
}

/* line 64, ../sass/_layout.scss */
.copyright {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 1, ../sass/_module.scss */
.header {
  border-bottom: 4px solid;
}
/* line 3, ../sass/_module.scss */
.header li {
  border-left: 1px solid;
}
/* line 6, ../sass/_module.scss */
.header li:last-child {
  border-right: 1px solid;
}

/* line 11, ../sass/_module.scss */
.box {
  padding-top: 10px;
  padding-bottom: 5px;
}

/* line 16, ../sass/_module.scss */
.slider {
  margin-left: -40px;
}

/* line 20, ../sass/_module.scss */
.heading {
  position: relative;
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
}
/* line 26, ../sass/_module.scss */
.heading:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #a8d4ff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

/* line 38, ../sass/_module.scss */
.spot-desc {
  height: 5em;
}

/* line 42, ../sass/_module.scss */
.no-padding {
  padding: 0;
}

/* line 46, ../sass/_module.scss */
.padding-10px {
  /*padding: 10px;*/
}

/* line 50, ../sass/_module.scss */
.padding-top-10px {
  padding-top: 10px;
}

/* line 54, ../sass/_module.scss */
.margin-bottom-20px {
  margin-bottom: 20px;
}

/* line 58, ../sass/_module.scss */
.no-float {
  float: none;
  clear: both;
}

/* line 63, ../sass/_module.scss */
.line-height2_5em {
  line-height: 2.5em;
}

/* display */
/* line 68, ../sass/_module.scss */
.table {
  display: table;
}

/* line 72, ../sass/_module.scss */
.table-cell {
  display: table-cell;
}

/* line 76, ../sass/_module.scss */
.inline-block {
  display: inline-block;
}

/* /display */
/* font */
/* line 82, ../sass/_module.scss */
.text-navy {
  color: navy;
}

/* line 86, ../sass/_module.scss */
.font-size-12px {
  font-size: 12px;
}

/* /font */
/* list */
/* line 93, ../sass/_module.scss */
.list-style-circlearrow li {
  position: relative;
  padding-left: 5px;
}
/* line 97, ../sass/_module.scss */
.list-style-circlearrow li::after, .list-style-circlearrow li::before {
  display: block;
  content: '';
  position: absolute;
}
/* line 102, ../sass/_module.scss */
.list-style-circlearrow li::after {
  top: .675em;
  left: -1.2em;
  width: 14px;
  height: 14px;
  background-color: #3498db;
  border-radius: 100%;
}
/* line 110, ../sass/_module.scss */
.list-style-circlearrow li::before {
  z-index: 2;
  top: 1.05em;
  left: -.925em;
  width: 4px;
  height: 4px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* /list */
/* line 3, ../sass/_theme.scss */
#wrap {
  background: #fff;
}

/* line 7, ../sass/_theme.scss */
.header {
  border-bottom-color: #f3c896;
  background-color: #faf9f7;
}
/* line 10, ../sass/_theme.scss */
.header li, .header li:last-child {
  border-color: #f3c896;
}
/* line 12, ../sass/_theme.scss */
.header li a, .header li:last-child a {
  font-size: 13px;
  font-weight: bold;
  color: #47331f;
}
/* line 16, ../sass/_theme.scss */
.header li a.search_map, .header li:last-child a.search_map {
  background: no-repeat url("/assets/img/menu/japan_menu.png");
  background-position: center 30%;
}
/* line 20, ../sass/_theme.scss */
.header li a.reg_map, .header li:last-child a.reg_map {
  background: no-repeat center url("/assets/img/menu/reg_menu.png");
  background-position: center 30%;
}
/* line 24, ../sass/_theme.scss */
.header li a.list_map, .header li:last-child a.list_map {
  background: no-repeat center url("/assets/img/menu/list_menu.png");
  background-position: center 30%;
}
/* line 28, ../sass/_theme.scss */
.header li a.mypage, .header li:last-child a.mypage {
  background: no-repeat center url("/assets/img/menu/mypage_menu.png");
  background-position: center 30%;
}
/* line 32, ../sass/_theme.scss */
.header li a.question, .header li:last-child a.question {
  background: no-repeat center url("/assets/img/menu/question_menu.png");
  background-position: center 30%;
}
/* line 37, ../sass/_theme.scss */
.header li a.search_map:hover, .header li:last-child a.search_map:hover {
  background: #eee no-repeat center url("/assets/img/menu/japan_menu.png");
  background-position: center 30%;
}
/* line 41, ../sass/_theme.scss */
.header li a.reg_map:hover, .header li:last-child a.reg_map:hover {
  background: #eee no-repeat center url("/assets/img/menu/reg_menu.png");
  background-position: center 30%;
}
/* line 45, ../sass/_theme.scss */
.header li a.list_map:hover, .header li:last-child a.list_map:hover {
  background: #eee no-repeat center url("/assets/img/menu/list_menu.png");
  background-position: center 30%;
}
/* line 49, ../sass/_theme.scss */
.header li a.mypage:hover, .header li:last-child a.mypage:hover {
  background: #eee no-repeat center url("/assets/img/menu/mypage_menu.png");
  background-position: center 30%;
}
/* line 53, ../sass/_theme.scss */
.header li a.question:hover, .header li:last-child a.question:hover {
  background: #eee no-repeat center url("/assets/img/menu/question_menu.png");
  background-position: center 30%;
}

/* line 61, ../sass/_theme.scss */
.footer {
  background: #ffffdc;
  color: #4C4C4C;
}
/* line 64, ../sass/_theme.scss */
.footer .copyright {
  background: #d8fffc;
}
